<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page_title %}{{ page_title }}{% else %}Page{% endif % | Work Out Your Workout</title>

    <!-- Fonts -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700|Droid+Serif:400,700,400italic,700italic|Roboto+Slab:400,300,100,700' rel='stylesheet' type='text/css'>

    <!-- Styles -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename="css/auth/bootstrap-3_local.min.css") }}"> --> <!-- development -->
    <link rel="stylesheet" href="{{ url_for('static', filename="css/auth/bootstrap-theme.css") }}">
</head>
<body id="login">
    <div class="container">
        <img class="logo-login" height="35" src="../static/css/auth/img/icon.png" alt="WOYW logo">
        <p class="registration-message">Log In to Work Out Your Workout</p>
        <!-- Form stuff here -->email<br>password
        <br>
        <button type="button" class="sign-in" >
            <span class="button-text">Sign In</span>
        </button>
        <br>
        <a class="forgot-password" href="auth/forgot_pass">Forgot password?</a>
        <br>
        <a class="sign-up" href="auth/register">Don't have an account? Sign up</a>
    </div>


<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
                <p class="copyright">Work Out Your Workout © 2016</p>
			</div>
		</div>
	</div>
</footer>
</body>
</html>