{% extends "base.html" %}
{% set page_title = 'Login' %}

{% block meta %}
<!-- put meta tags here !-->
<meta name="csrf-token" content="{{ csrf_token() }}">
{% endblock %}

{% block css_style %}
<!-- Put css here !-->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
{% endblock %}

{% block main_body %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        Work Out Your Workout
      </a>
    </div>
  </div>
</nav>

<div class="container">
   <!-- Logged out view !-->
   <div id='logged-out-view' class="well">
      <h3> Log In To Work Out Your Workout</h3>
      <form method="post" id='login-form'>
          {{ form.csrf_token }}
          {{ form.name }}
          {{ form.hidden_tag() }}
         <div class="form-group">
            <label>Username</label>
            {{ form.login(class_='form-control', placeholder="Username",
             required=form.login.flags.required) }}
         </div>
         <div class="form-group">
            <label>Password</label>
            {{ form.password(class_='form-control', placeholder="Password",
             required=form.password.flags.required) }}
         </div>
         {{ form.submit(class_="btn btn-lg btn-primary btn-signin") }}
         <br>
         <a href="/register">Don't have an account? Register here</a>
      </form>
   </div>
</div>
<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<span class="copyright">Work Out Your Workout © 2017</span>
			</div>
		</div>
	</div>
</footer>

{% endblock %}

{% block js_btm %}
<!-- Put javascript here !-->

   <script src="/static/js/main.js"></script>

{% endblock %}