{% extends "base.html" %}
{% set page_title = 'Login' %}

{% block meta %}
<!-- put meta tags here !-->
<meta name="csrf-token" content="{{ csrf_token() }}">
{% endblock %}

{% block css_style %}
<!-- Put css here !-->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
{% endblock %}

{% block main_body %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        Work Out Your Workout
      </a>
    </div>
  </div>
</nav>

<div class="container">
   <hr>
   <div id='signup-view' class='well'>
      <h3> Sign up a new user!</h3>
      <form method="post" id="signup-form">
          {{ form.csrf_token }}
          {{ form.name }}
          {{ form.hidden_tag() }}
         <span id="login-bits"></span>
          {{ form.username(class_='form-control', placeholder="Username",
             required=form.username.flags.required) }}
          <br>
          {{ form.email(class_='form-control', placeholder="Email",
             required=form.email.flags.required) }}
          <br>
          {{ form.password(class_='form-control', placeholder="Password",
             required=form.password.flags.required) }}
          <br>
          {{ form.confirm(class_='form-control', placeholder="Confirm Password",
             required=form.confirm.flags.required) }}
          <br>
         {{ form.submit(class_="btn btn-lg btn-primary btn-signin") }}
      </form>
   </div>
</div>
<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<span class="copyright">Work Out Your Workout © 2017</span>
			</div>
		</div>
	</div>
</footer>

{% endblock %}

{% block js_btm %}
<!-- Put javascript here !-->

   <script src="/static/js/main.js"></script>

{% endblock %}